.loginpage {
  background-color: #5cb85c;
  margin: 0px;
  height: 100vh;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.loginheader {
  color: aliceblue;
  padding: 25px;
}
.container {
  background-color: rgb(255, 255, 255);
  padding: 20px;
  width: 450px;
  height: 500px;
  margin: auto;
  border-radius: 7px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.container2 {
  margin: 35px;
}
.formcontrol {
  width: 100%;
  height: 30px;
  border: 0;
  border-bottom: 1px solid black;
  padding: 3px;
  outline: 0px;
}
.loginbtn {
  margin-left: 200px;
  width: 100px;
  height: 40px;
  display: inline-block;
  padding: 10px 30px;
  cursor: pointer;
  background: #5cb85c;
  color: #000000;
  border: none;
  border-radius: 5px;
}
.loginbtn:hover {
  transform: scale(0.9);
}
