@media (min-width: 1024px) {
  .main {
    padding: 10px;
    width: 96.8vw;
    height: 100vh;
    background-color: #e2f2fe;
  }
  .profile {
    width: 96.4vw;
    height: 200px;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 20px;
    background: #5cb85c;
  }
  .profileimg {
    width: 27%;
  }
  .logo {
    width: 170px;
    height: 170px;
    margin: 20px;
    margin-left: 100px;
    border-radius: 50%;
    /* background-color: antiquewhite; */
  }
  .profiletitle {
    width: 40%;
    padding-top: 60px;
  }
  .profilevalues {
    margin: 0px;
  }
  .links {
    width: 33%;
    padding: 30px;
  }
  .login {
    margin-left: 50px;
    font-weight: bolder;
    font-size: 16px;
    text-decoration: none;
    padding: 5px;
    color: darkmagenta;
  }
  .login:hover {
    color: black;
  }
  .form {
    height: 2.5rem;
    margin: 10px;
    margin-left: 30px;
    border-radius: 9px;
    border-color: black;
    font-size: 15px;
    padding: 5px;
    font-weight: bolder;
    text-decoration: none;

    color: darkmagenta;
  }
  .form:hover {
    color: black;
  }
  .line {
    border-bottom: 2px solid black;
    margin-top: 5px;
    width: 90%;
    margin-left: 50px;
  }
}

/* Mobile */
@media (max-width: 700px) {
}

/* Tablet and Smaller Desktop */
